<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>images on s3 | home</title>
  </head>

  <body>
    <div class="main-container">
      <% { %> <% images.forEach(image => { %>
      <div class="image-container">
        <h3 class="image-name"><%= image.imageName %></h3>
        <div class="image">
          <img src="<%= image.imageUrl %>" alt="image" />
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
</html>
